.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.nav{
  background-color: black;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.selected {
  color:violet;
}
.notSelected {
  color:white;
}

input {
  border: none;
  color:black;
  display: block;
  font-size: 1.5em;
  height: 50px;
  width: 100%;
}
.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  color:blue;
  text-decoration: none;
}

a {
  cursor: pointer;
}

.optionSelected{
  color:blue;
}

.pollOption {
  cursor: pointer;
}

.pollOption:hover {
  text-decoration: underline;
  color:blue;
}

.urlNotFound {
  color:red;
}

.logInRedirect{
  font-size: 1.5em;
}

.userLogin {
  border: 1px solid #A85ECC;
  border-radius: 2px;
  margin-left: 10px;  
  width: 150px;
  height: 100px;
  float: left;
}